
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background: #7DA0B1;
    padding: 10px;
}
li {
    padding: 5px 10px;
}
a {
    text-decoration: none;
    font-size: 20px;
    font-family: Arial;
    text-transform: uppercase;
    color: #fffaf0;
}
.wrapper{
    font-family: Arial;
    width: 70%;
    margin: 10px auto;
    background: #7DA0B1;
    color: floralwhite;
    padding: 10px;
}
